{% extends 'InjectionLog/index.html' %}

{% block maincontent %}
<main role="main">
<div class="container">
  <div class="alert alert-info">
    <form action="/add_gs/" method="POST">
      {% csrf_token %}
    <div class="form-group">
      <label for="GSBrand">GS Brand Name</label>
      <div class="input-group mb-3">
        <input class="form-control" name="GSBrand" id="GSBrand">
      </div>
    </div>
    <div class="form-group">
      <label for="GSConcentration">GS Concentration</label>
      <div class="input-group mb-3">
        <input class="form-control" name="GSConcentration" id="GSConcentration">
        <div class="form-group-append">
          <span id="gaba_units" class="input-group-text">mg/mL</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="GSPrice">GS Price</label>
      <div class="input-group mb-3"">
        <input class="form-control" name="GSPrice" id="GSPrice">
        <div class="form-group-append">
          <span id="gaba_units" class="input-group-text">$/unit</span>
        </div>
      </div>
    </div>

    <div class="form-row">
      <input type="hidden" name="submission_type" value="user_defined">
      <input type="submit" class="btn btn-secondary" role="button" value="Add GS">
    </div>

    </form>
  </div>
</div>

</main>

{% endblock %}
