{% extends 'InjectionLog/index.html' %}
{% load groupfilter %}
{% block maincontent %}

{% if catnum >= 1 and not request.GET.CatID %}



<main role="main">
<div class="container">
{{shared}}
  <form action="/catinfo/" method="GET">
    <div class="alert alert-info">
      <div class="form-group">
        <div class="col">
          <label for="CatID">Select the Cat to Update</label>
        </div>
        <div class="col mb-3">
          <select name="CatID" id="CatID" class="form-control">
            <option value="">Select Cat...</option>
            <option value=0>Add Another Cat</option>
          {% for cat in cats %}
            <option value="{{cat.id}}">{{cat.name}}</option>
          {% endfor %}
          </select>
        </div>
        <div class="form-row mb-3">
          <input type="submit" class="btn btn-secondary" role="button" value="Select Cat">
        </div>
      </div>
    </div>
</form>
</div>
</div>
{% else %}
{% with cats|first as cat %}

{% if cat.owner == request.user or request.user|has_group:"WarriorAdmin" or not request.GET.CatID or request.GET.CatID == '0' %}
<main role="main">
  <div class="container">




    {% if cat.id and cat.owner == request.user %}
    <div class="alert alert-primary row align-items-center">
      <div class="col-md-3">
        <a id="sharable_link" href="/catinfo?CatID=0&sharable={{sharable}}" onclick="copy_sharable();">Sharable Link</a>
      </div>
      <div class="col align-self-end">
        <button id="link_copy" class="btn btn-secondary" onclick="copy_sharable();">Copy Link</button>
      </div>
    </div>
    {% endif %}


    {% if cat.owner != request.user and request.GET.sharable %}
    <div class="alert alert-primary">

    <form method="POST" action="/trackwarrior/">
      {% csrf_token %}
      <h4 class="alert-heading">
        Follow this cat
      </h4>
      <hr>
      <div class="form-row">
        <input type ="hidden" name="share_link" id="share_link" value="{{request.GET.sharable}}"></input>
        <div class="col">
          <input class="form-control" id="identifier" name="identifier" placeholder="Enter your identifier for this Cat"></input>
          <label for="identifier">Cat/Person Identifier</label>
        </div>

        <div class="col">
          <input type="submit" class="form-control button btn-success" value="Follow Cat" name="submit_follow"></input>

        </div>
      </div>
    </form>
    </div>
    {% endif %}

    <div class="alert alert-secondary">
      <form class="needs-validation" novalidate action="/catinfo/" id="catinfo" method="POST">
        {% csrf_token %}
        {% with treatment_duration=cat.treatment_start|elapsed %}
        {% if request.GET.cured == 'True' or cat.cured == 'True' or cat.bad == 'True' or treatment_duration >= 168 %}
        <div class="card border-dark bg-light mb-3">
          <div class="card-body">
            <h5 class="card-header">How is your cat doing?</h5>


            <div class="alert alert-success">
              <div class="row">
                <div class="col-sm-2">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z"/>
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                  </svg>
                </div>
                <div class="col">
                  <div class="custom-control custom-switch">
                    <input name="cured"{% if request.GET.sharable %} disabled {% endif %} {% if cat.cured %} checked {% endif %} type="checkbox" class="custom-control-input" id="cured">
                    <label class="custom-control-label" for="cured">My Cat has been cured!</label>
                  </div>
                </div>
              </div>
            </div>


            <div class="alert alert-danger">
              <div class="row">
                <div class="col-sm-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
                </div>
                <div class="col">
                  <div class="custom-control custom-switch">
                    <input name="bad_outcome"{% if request.GET.sharable %} disabled {% endif %} {% if cat.bad %} checked {% endif %} type="checkbox" class="custom-control-input" id="bad_outcome">
                    <label class="custom-control-label" for="bad_outcome">My cat didn't make it</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endwith %}
      <input type="hidden" name="CatID" value="{{cat.id}}">
      <h4>Cat Information</h4>
      <div class="form-group">
        <label for="CatName">Cat Name</label>
        <div class="input-group mb-3">
          <input {% if request.GET.sharable %} disabled {% endif %}  class="form-control" required name="CatName" value="{{cat.name}}" id="CatName" {% if cat.id %} disabled {% endif %}>
        </div>
      </div>
      <div class="form-group">
        <label for="FIP Type">FIP Type</label>
        <div class="input-group mb-3">
          <div class="col-5">
            <select required name="FIP Type" class="form-control" {% if cat.id %} disabled {% endif %}>
              <option value="">Select FIP-Type</option>
              <option value="wet" {% if cat.fip_type == "wet" %} Selected {% endif %}>Wet FIP</option>
              <option value="dry" {% if cat.fip_type == "dry" %} Selected {% endif %}>Dry FIP</option>
            </select>
          </div>
          <div class="col">
            <input {% if request.GET.sharable %} disabled {% endif %}  {% if cat.id %} disabled {% endif %} class="form-check-input" type="checkbox" {% if cat.ocular %} checked {% endif %} value="" id="Ocular" name="Ocular">
            <label class="form-check-label" for="Ocular">
              Ocular Involvement
            </label>
          </div>
          <div class="col">
            <input {% if cat.id %} disabled {% endif %} class="form-check-input" type="checkbox" {% if cat.neuro %} checked {% endif %} id="Neuro" name="Neuro">
            <label class="form-check-label" for="Neuro">
              Neuro Symptoms
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="CatBirthday">Birthday</label>
          <div class="input-group mb-3 col-xsm-1">
            <span class="Zebra_DatePicker_Icon_Wrapper" style="display: block; position: relative; float: none; top: auto; right: auto; bottom: auto; left: 0px; margin: 0px; padding: 0px; width: 100%;">
             <input {% if request.GET.sharable %} disabled {% endif %}  {% if cat.id %} disabled {% endif %} style="width:200px;" type="text" required data-zdp_readonly_element="true" class=" {% if not cat.id %}bg-white{% endif %} form-control yearpicker" placeholder="yyyy-mm-dd" data-date-format="yyyy/mm/dd" value="{{cat.birthday|date:'Y-m-d'}}" name="CatBirthday" id="CatBirthday" onChange="require_entry();" />
           </span>
          </div>
        </div>


        <hr>
        <div class="alert alert-warning container">
          <h4>Treatment Information</h4>
          <div class="form-row mb-3">
            <label for="treatmentstart">Treatment Start Date</label>
            <span class="Zebra_DatePicker_Icon_Wrapper" style="display: block; position: relative; float: none; top: auto; right: auto; bottom: auto; left: 0px; margin: 0px; padding: 0px; width: 100%;">
              <input {% if request.GET.sharable %} disabled {% endif %} style="width:200px;" name="treatmentstart" placeholder="yyyy-mm-dd"  data-zdp_readonly_element="true" class="form-control yearpicker {% if not cat.id or not cat.treatment_start %}bg-white{% endif %}" type="text" value="{{cat.treatment_start|date:'Y-m-d'}}" {% if cat.treatment_start %} disabled {% endif %} id="treatmentstart">

          </div>


          {% if cat.treatment_start|elapsed|add:0 >= 14 %}
          <div class="form-row col-sm-6 mb-3">
            <label for="extendedtreatment">Additional Days for Extended Treatment</label>
            <div class="input-group col-sm-6">
              <input {% if request.GET.sharable %} disabled {% endif %}  name="extendedtreatment" class="form-control" type="number" value="{{cat.extended_treatment}}" id="extendedtreatment" {% if relapse %} disabled {% endif %}>
            </div>
            <div class="form-group-append">
              <span class="input-group-text">days</span>
            </div>
          </div>
          {% endif %}

          <div class="form-row mb-3">
          <label for="warrioradmin">Warrior Admin</label>
            <input {% if request.GET.sharable %} disabled {% endif %}  name="warrioradmin" class="form-control" value="{{cat.WarriorAdmin}}" id="warrioradmin">
          </div>

          {% if cat.treatment_start|elapsed|add:0 >= 14 %}
          <div class="form-row col-md-6 mb-3">
            <div class="custom-control custom-switch">
              <input {% if request.GET.sharable %} disabled {% endif %}  name="relapse" {% if relapse %} checked {% endif %} type="checkbox" class="custom-control-input" id="relapse" {% if relapse %} disabled {% endif %} onchange="relapse_trigger();">
              <label class="custom-control-label" for="relapse">Cat Has Relapsed</label>
            </div>
            <div class="container" id="relapse_fields" {% if relapse %} style="display:block;" {% else %} style="display:none" {% endif %}>
              <div class="alert alert-danger">
              {% for date in relapse %}
                <div class="form-row mb-3">
                  <label for="relapse_date_{{forloop.counter}}">Relapse Start Date</label>
                    <input {% if request.GET.sharable %} disabled {% endif %}  name="relapse_date_{{forloop.counter}}" type="text" style="position: relative; float: none; top: auto; right: auto;
                      bottom: auto; left: 0px; margin: 0px; padding-right: 0px; width: 250px;" class="form-control" placeholder="yyyy-mm-dd" type="text" data-date-format="yyyy-mm-dd" value="{{date.relapse_start|date:'Y-m-d'}}" {% if date.relapse_start %} disabled {% endif %} id="relapse_date_{{forloop.counter}}">
                </div>
                <div class="input-group mb-3">
                  <div class="col-5">
                    <select required name="FIPTypeRelapse_{{forloop.counter}}" class="form-control"  disabled >
                      <option value="">Select FIP-Type</option>
                      <option value="wet" {% if date.fip_type == "wet" %} Selected {% endif %}>Wet FIP</option>
                      <option value="dry" {% if date.fip_type == "dry" %} Selected {% endif %}>Dry FIP</option>
                    </select>
                  </div>
                  <div class="col">
                    <input {% if request.GET.sharable %} disabled {% endif %}   disabled class="form-check-input" type="checkbox" {% if date.ocular %} checked {% endif %} value="" id="Ocular_Relapse_{{forloop.counter}}" name="Ocular_Relapse_{{forloop.counter}}">
                    <label class="form-check-label" for="Ocular_Relapse_{{forloop.counter}}">
                      Ocular Involvement
                    </label>
                  </div>
                  <div class="col">
                    <input {% if request.GET.sharable %} disabled {% endif %}  disabled class="form-check-input" type="checkbox" {% if date.neuro %} checked {% endif %} id="Neuro_Relapse_{{forloop.counter}}" name="Neuro_Relapse_{{forloop.counter}}">
                    <label class="form-check-label" for="Neuro_Relapse_{{forloop.counter}}">
                      Neuro Symptoms
                    </label>
                  </div>
                </div>
              {% endfor %}
                <div class="form-row mb-3">
                  <label for="relapse_date">New Relapse Start Date</label>
                  <input {% if request.GET.sharable %} disabled {% endif %}  name="relapse_date" data-zdp_readonly_element="true" placeholder="yyyy-mm-dd" type="text" style="position: relative; float: none; top: auto; right: auto;
                  bottom: auto; left: 0px; margin: 0px; padding-right: 10px; width: 250px;" class="form-control datepicker {% if not request.GET.sharable %} bg-white {% endif %}" type="text" data-date-format="yyyy-mm-dd" max="{{now|max_time|date:'Y-m-d'}}" value="" id="relapse_date">
                </div>
                <div class="input-group mb-3">
                  <div class="col-5">
                    <select required name="FIPTypeRelapse" class="form-control" {% if request.GET.sharable %} disabled {% endif %} >
                      <option value="">Select FIP-Type</option>
                      <option value="wet" {% if cat.fip_type == "wet" %} Selected {% endif %}>Wet FIP</option>
                      <option value="dry" {% if cat.fip_type == "dry" %} Selected {% endif %}>Dry FIP</option>
                    </select>
                  </div>
                  <div class="col">
                    <input {% if request.GET.sharable %} disabled {% endif %}  class="form-check-input" type="checkbox" value="" id="Ocular_Relapse" name="Ocular_Relapse">
                    <label class="form-check-label" for="Ocular_Relapse">
                      Ocular Involvement
                    </label>
                  </div>
                  <div class="col">
                    <input {% if request.GET.sharable %} disabled {% endif %}  class="form-check-input" type="checkbox" {% if date.neuro %} checked {% endif %} id="Neuro_Relapse" name="Neuro_Relapse">
                    <label class="form-check-label" for="Neuro_Relapse">
                      Neuro Symptoms
                    </label>
                  </div>

                </div>
                <div>
                  <small class="form-text">Please record every new instance of relapse.  This will impact your treatment countdown.</small>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

            <div class="form-row col-md-6 mb-3">
              <label for="notes">Other Notes</label>
              <textarea {% if request.GET.sharable %} disabled {% endif %}  class="form-control" name="notes" id="notes" rows="2">{{cat.notes}}</textarea>
            </div>
          </div>
          <hr>

          <div class="form-row mb-3">
            <input type="hidden" name="submission_type" value="user_defined">
            <input type="submit" {% if request.GET.sharable %} disabled {% endif %} class="btn btn-secondary" role="button" value="Save Cat Information">
          </div>
          <div class="alert alert-danger" style="display:none" id="validation_message">Nothing</div>
        </div>
      </form>
      <hr>
      <div class="alert alert-info container" {%if cat.id %} style="display:block" {% else %}style="display:none" {% endif %}>
        <h4>Add Blood Work and other Files</h4>
        <small>Limited to 2MB Uploads</small>
        {% if bloodwork %}
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Bloodwork Date</th>
                <th scope="col">File</th>
                <th scope="col">Notes</th>
                <th scope="col">Delete Record</th>
              </tr>
            </thead>
            <tbody>
            {% for result in bloodwork %}
              <tr>
                <td>{{result.bloodwork_date}}</td>
                <td><a href ="{{result.bloodwork.url|parse_url}}" target="_blank"> {{result.bloodname}}</a></td>
                <td>{{result.notes}}</td>
                <td>{% if not request.GET.sharable %}
                  <a href="/delete?delete_id={{result.id}}&selectedcat={{request.GET.CatID}}&log=bloodwork" onclick="return confirm('Are you sure you want to delete this?')">
                    <svg class="bi bi-trash2" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M3.18 4l1.528 9.164a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836L12.82 4H3.18zm.541 9.329A2 2 0 0 0 5.694 15h4.612a2 2 0 0 0 1.973-1.671L14 3H2l1.721 10.329z"/>
                      <path d="M14 3c0 1.105-2.686 2-6 2s-6-.895-6-2 2.686-2 6-2 6 .895 6 2z"/>
                      <path fill-rule="evenodd" d="M12.9 3c-.18-.14-.497-.307-.974-.466C10.967 2.214 9.58 2 8 2s-2.968.215-3.926.534c-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466zM8 5c3.314 0 6-.895 6-2s-2.686-2-6-2-6 .895-6 2 2.686 2 6 2z"/>
                    </svg>
                  </a>{% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
        {% if not request.GET.sharable %}
        <div id="upload_modal">
          <button {% if request.GET.sharable %} disabled {% endif %} type="button" class="btn btn-primary" data-toggle="modal" data-target="#bw-modal">
          Upload CBC
          </button>
            <div class="modal fade" id="bw-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Choose File to Upload</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form class="needs-validation" novalidate action="/upload_cbc/" method="POST" id="add_cbc" name="add_cbc" enctype="multipart/form-data">
                      <div class="modal-body">

                          {% csrf_token %}


                          <input id="cbc_catid" type="hidden" name="cat_name" value="{{request.GET.CatID}}">
                          <div class="row">
                            <div class="col-md-6 mb-3">
                              <div class="form-group">
                                <label for="bloodname" class="control-label">CBC Type</label>
                                <select no-validate class="form-control" name="bloodname" id="id_bloodname">
                                  <option value="At Diagnosis">At Diagnosis</option>
                                  <option value="Week 4">Week 4</option>
                                  <option value="Week 8">Week 8</option>
                                  <option value="Week 12">Week 12</option>
                                  <option value="Other Upload">Other</option>
                                </select>
                              </div>
                            </div>
                           </div>
                           <div class="row">
                             <div class="col-md-6 mb-3">
                               <div class="form-group">
                                 <label for="id_bloodwork_date" class="control-label">Bloodwork Date</label>
                                 <input {% if request.GET.sharable %} disabled {% endif %}  type="input" max="{{now|max_time|date:'Y-m-d'}}" data-zdp_readonly_element="true" type="text" style="position: relative; float: none;
                                 top: auto; right: auto; bottom: auto; left: 0px; margin: 0px; padding-right: 0px; width: 200px;" class="form-control datepicker bg-white is-valid" data-date-format="yyyy-mm-dd" name="bloodwork_date" value="{{now|max_time|date:'Y-m-d'}}" id="id_bloodwork_date">

                               </div>
                             </div>
                           </div>
                           <div class="row">
                             <div class="col-md-6 mb-3">
                               <div class="form-group">
                                 <label for="id_notes" class="control-label">Additional Notes/Comments</label>
                                 <textarea {% if request.GET.sharable %} disabled {% endif %}  type="text" class="form-control" name="notes" id="id_notes"></textarea>

                               </div>
                             </div>
                           </div>
                           <div class="row">
                             <div class="col-md-6 mb-3">
                               <div class="form-group">
                                 <label for="id_bloodwork" class="control-label">Choose Bloodwork File</label>
                                 <input id="fileupload_box" type="file" name="bloodwork" id="id_bloodwork" accept=".jpg,.gif,.png,.pdf">

                                 <div><small>Must be a .pdf or image file.</small></div>

                               </div>
                             </div>
                           </div>
                      </div>
                      <div>
                        <input type="hidden" name="google_drive_upload" id="returned_status" value="">
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button id="btnSubmitModal" disabled  type="submit" class="btn btn-info">Submit Bloodwork</button>
                      </div>
                    </form>
                    </div>
                  </div>
              </div>
            </div>
            <!--End Modal-->
            {% endif %}
        </div>

      </div>

    </div>
  </div>

</main>




<script>
{% if request.GET.cured == 'True' or cat.cured == 'True' or cat.bad == 'True' %}
$(document).on("change", '#cured', function(event){
  var form = document.getElementById("catinfo")
  var cured = document.getElementById('cured');
  var bad = document.getElementById('bad_outcome');
  if (cured.checked == true) {
    bad.checked = false;
  };

form.submit()
   });

 $(document).on("change", '#bad_outcome', function(event){
   var form = document.getElementById("catinfo")
   var cured = document.getElementById('cured');
   var bad = document.getElementById('bad_outcome');
   if (bad.checked == true) {
     cured.checked = false;
   }
form.submit()
    });



{% endif %}

function copy_sharable(e) {
  /* Get the text field */
  var copyText = document.getElementById("sharable_link").href;
  var dummy = document.createElement("textarea");
  // to avoid breaking orgain page when copying more words
  // cant copy when adding below this code
  // dummy.style.display = 'none'
  document.body.appendChild(dummy);
  //Be careful if you use texarea. setAttribute('value', value), which works with "input" does not work with "textarea". – Eduard
  dummy.value = copyText;
  dummy.select();
  document.execCommand("copy");
  document.body.removeChild(dummy);

  /* Alert the copied text */
  var link_button = document.getElementById('link_copy');
  link_button.innerHTML = "Copied";
  link_button.classList.add('btn-success');
  link_button.classList.remove('btn-secondary');


}

$(document).on("click", '#sharable_link', function(event){
       event.preventDefault();
   });
$('input.datepicker').Zebra_DatePicker({
     direction: false
   });

 $('input.yearpicker').Zebra_DatePicker({
      onClose:   function (){
        require_entry();
      },
      direction: false,
      view: 'years'
    });




</script>
{% if not request.GET.sharable %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const cat_name = {{request.GET.CatID}}

    $('#fileupload_box').on('filebatchpreupload', function(event, data, jqXHR) {
    data.form.append('bloodwork_date', document.getElementById("id_bloodwork_date").value);
    data.form.append('bloodname', document.getElementById("id_bloodname").value);
    data.form.append('notes', document.getElementById("id_notes").value);

            });

    $("#fileupload_box").fileinput({
        maxFileSize: 3000,
        uploadUrl: "/upload_cbc/",
        enableResumableUpload: true,
        resumableUploadOptions: {
           // uncomment below if you wish to test the file for previous partial uploaded chunks
           // to the server and resume uploads from that point afterwards
           // testUrl: "http://localhost/test-upload.php"
        },
        uploadExtraData: {
          'csrfmiddlewaretoken': csrftoken,
          'cat_name': cat_name,
          'ajax_call':true

        },
        maxFileCount: 1,
        allowedFileTypes: ['image','pdf'],    // allow only images
        showCancel: true,
        initialPreviewAsData: false,
        overwriteInitial: false,
        // initialPreview: [],          // if you have previously uploaded preview files
        // initialPreviewConfig: [],    // if you have previously uploaded preview files
        theme: 'fas'
        //deleteUrl: "http://localhost/file-delete.php"
    }).on('fileuploaded', function(event, previewId, index, fileId) {
        console.log('File Uploaded', 'ID: ' + fileId + ', Thumb ID: ' + previewId);
    }).on('fileuploaderror', function(event, data, msg) {
        console.log('File Upload Error', 'ID: ' + data.fileId + ', Thumb ID: ' + data.previewId);

    }).on('filebatchuploadcomplete', function(event, preview, config, tags, extraData) {
        console.log('File Batch Uploaded', preview, config, tags, extraData);
        document.getElementById("btnSubmitModal").disabled = false;
        //location.replace("?message=success&CatID="+cat_name);
    });
</script>
{% endif %}



<style type="text/css">



.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

.bd-callout-danger h4 {
    color: #d9534f
}
</style>

{% else %}
<div class="alert alert-danger">You are unauthorized to view this record</div>
{% endif %}

{% endwith %}
{% endif %}
{% endblock %}
