{% extends 'InjectionLog/nologin.html' %}
{% load groupfilter %}
{% block maincontent %}
<style>
.modebar{
      display: none !important;
}
</style>
<main role="main">
  <div class="container alert alert-dark">
    <div class="alert alert-warning">
      This page summarizes the data that the site has logged from ongoing treatment of cats.
      As the data is user-entered, it may be prone to error. Nonetheless, this provides an estimate for what
      one might expect when treating FIP using GS-441524.

    </div>

    <div class="align-middle">

        {% autoescape off %}
         {{ fip_fig }}
         {% endautoescape %}
    </div>
    <div class="alert alert-light">
      <strong>Figure 1.</strong> The site has captured data for {{dry_cases}} cats with dry FIP and {{wet_cases}} cats with wet FIP
    </div>

    <div class="align-middle">

      {% autoescape off %}
       {{ wt_fig }}
       {% endautoescape %}

    </div>

    <div class="alert alert-light"><strong>Figure 2.</strong> This graph shows the percent
            change in weight for logged cats over the course of their treatment.
            For <a href="/costs">modeling purposes</a>, both the days of treatment and the cat's starting weight
            are used to predict how a cat's weight might change over time.
    </div>

    <div class="align-middle">

      {% autoescape off %}
       {{ age_fig }}
       {% endautoescape %}

    </div>

    <div class="alert alert-light">
      <strong>Figure 3.</strong> This graph shows the age distribution rounded to the nearest year for logged cats
    </div>

    <div class="align-middle">

      {% autoescape off %}
       {{ duration_fig }}
       {% endautoescape %}

    </div>
    <div class="alert alert-light">
      <p><text class="text-danger">{{84_cats}}</text> of the cats that have been logged on this site are now past the 84-day treatment period and in observation, while
      <text class="text-danger">{{cured_cats}}</text> of the cats that have been logged on this site have been marked as cured.
      <p>More data will be added once we have sufficient treatment successes</p>
      <strong>Figure 4.</strong> This graph shows the number of cats the site has logged significant treatment data for relative to how long ago the cat started treatment using GS
    </div>

    <div class="align-middle">

      {% autoescape off %}
       {{ cat_quality }}
       {% endautoescape %}

    </div>
    <div class="alert alert-light">

      <strong>Figure 5.</strong> This graph shows how the average cat being treated with GS improves over time.
      A 5 represents that the cat acts completely cured, while a 1 indicates that the cat is really not doing well.
      This data is presented only for GS brands that have had sufficient data logged on this website to make this estimate per
      brand. Error bars represent the 95% CI for the average of each brand
    </div>

    <div class="align-middle">

      {% autoescape off %}
       {{ brand_stats }}
       {% endautoescape %}

    </div>
    <div class="alert alert-light">

      <strong>Figure 6.</strong> This graph shows the brands that people on this site are using,
      and how many injections have been logged for each associated week of treatment with a specific brand.
      Brands being used past week 12 indicate that injections have been logged which are associated with extended treatments or
      relapses for some cats on the site.
    </div>

  </div>

</main>


{% endblock %}
