{% extends 'InjectionLog/index.html' %}

{% load groupfilter %}



{% block maincontent %}


<main role="main">

  <div class="container">
    <h2>Injection Volume Calculation</h2>
    {% if error %}
    <div class="alert alert-danger">Error: {{ error }}</div>
    {% endif %}
    {% if page != "injection" %}
    <form class="needs-validation" novalidate action="/inject#injections" method="GET" id="GS Calculator">
    {% else %}
    <form class="needs-validation" novalidate action="/inject/" method="POST" id="GS Calculator">
    {% endif %}
        {% csrf_token %}
      <fieldset>


      <div class="form-row col-md-6 mb-3">
        <div class="custom-control custom-switch">
          <input name="weight_units" {% if request.GET.weight_units %} checked {% endif %} type="checkbox" class="custom-control-input" id="weight_units" onchange="get_dosage()">
          <label class="custom-control-label" for="weight_units">weight in kg</label>
        </div>
      </div>
      <div class="form-row col-md-6 mb-3">
        <label for="inputWeight">Cat's Weight</label>
        <div class="input-group mb-3">
            <input class="form-control" required type="number" step="0.1" name="CatWeight" value="{{ request.GET.CatWeight }}" class="form-control" id="inputWeight" onchange="get_dosage()">
            <div class="form-group-append">
              <span id="kg_units" class="input-group-text">{% if request.GET.weight_units %} kg {% else %}lb{% endif %}</span>
            </div>

        </div>
      </div>
      <div class="form-row col-md-6 mb-3">
        <label for="Dose">GS Dose</label>
        <div class="input-group mb-3">

            <input required class="form-control" value="{{ request.GET.GSDose }}" type="number" name="GSDose" class="form-control" id="GSDose" max="50" aria-describedby="dose_note" onchange="get_dosage()">

            <div class="form-group-append">
              <span class="input-group-text">mg/kg</span>
            </div>
            <small id="dose_note" class="form-text text-danger">
              Please check with a Warrior Admin. Typical dosage is 6 mg/kg.
              Neuro and Ocular are often 10 mg/kg or higher.  Dry FIP may need
              higher doses as well.
            </small>
        </div>
      </div>

      <div class="form-row col-md-6 mb-3">
        <div class="col form-input">
          <label for="GSBrand">GS Brand</label>
          <select required onchange="get_dosage()" id="GSBrand" name="GSBrand" title="Please Select" class="form-control">
            <option value="">Please Select Brand...</option>
            {% for brand in drugs %}
            <option value="{{brand.concentration}}" {% if request.GET.brand_value == brand.brand %}  selected  {% endif %}>{{brand.brand}}</option>
            {% endfor %}
            {% for brand in userGS %}
            <option value="{{brand.concentration}}" {% if request.GET.brand_value == brand.brand %}  selected  {% endif %}>{{brand.brand}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col">
          <label for="concentration">Concentration</label>
          <div class="input-group">
            <input name="concentration" id="concentration" class="form-control" value={% if not request.GET.GSBrand %} 0 {% else %}{{ request.GET.GSBrand }} {% endif %} disabled>
            <div class="form-group-append">
              <span id="conc_units" class="input-group-text">g/mL</span>
            </div>
          </div>
        </div>

      </div>
      <div class="form-row col-md-6 mb-3">
        <div class="col">
        <button type="button" class="btn btn-dark" onclick="get_dosage()">Calculate</button>
        <input type="hidden" id="brand_value" name="brand_value" value="{{ request.GET.brand_value }}">
        </div>
        {% if page == "dose" %}
        <div class="col">
          <input type="submit" class="btn btn-success" role="button" value="Step 2 - Injection">
        </div>
        {% endif %}
      </div>
      <div role="alert" class="alert alert-success">
        <h4>Volume of GS Needed</h4>
        <div id="totaldose">{% if request.GET.calculateddose %} {{request.GET.calculateddose}} mL needed {% else %}Please enter values...{% endif %}</div>
      </div>
      <input type="hidden" id="calculateddose" name="calculateddose" value="{{request.GET.calculateddose}}">
    {% if page != "injection" %}
      <input type="hidden" id="validation_message">
      </fieldset>
    </form>
    </div>
    {% endif %}


  {% if page == "injection" %}
    <div class="jumbotron" name="injections" id="injections">
      <h2>Injection Details</h2>
      <div class="container">
          <div class="form-row col-md-6 mb-3">
            <label for="selectedcat">Selected Cat</label>
            <select class="form-control" name="selectedcat" id="selectedcat">
              {% for cat in validcats %}
              <option {% if request.GET.selectedcat|add:"0" == cat.id %} selected {% endif %} value="{{cat.id}}">{{cat.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-text">Date and time of injecton</div>
            <div class="for-row col-xsm-6 mb-3">
              {% load tz %}
              {% timezone local_time %}
              <input name="inj_date" class="form-control" type="datetime-local" value="{% if request.GET.inj_date %}{{request.GET.inj_date}}{% else %}{% now 'Y-m-d\TH:i' %}{% endif %}" max="{{now|max_time|date:'Y-m-d\TH:i'}}" id="injectiondate">
              {% endtimezone %}
            </div>
            <hr class="my-3">
            <div class="form-row">
              <div id="dose_note" name="dose_note" class="form-text">
                How did your cat do today?
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-1">
                  <small class="form-text">
                  I'm worried
                  </small>
                </div>
                <div class="col-1"><p></div>
                <div class="col-1"><p></div>
                <div class="col-1"><p></div>
                <div class="col-1">
                  <small class="form-text">
                  Acts cured!
                  </small>
                </div>
                <div class="col-1"><p></div>
              </div>
              <div class="row">
                <div class="col-1 form-check form-check-inline">
                  <input class="form-check-input" {% if request.GET.cat_rating == "1" %} checked {% endif %} type="radio" name="cat_rating" id="inlineRadio1" value="1" required>
                  <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="col-1 form-check form-check-inline">
                  <input class="form-check-input" {% if request.GET.cat_rating == "2" %} checked {% endif %} type="radio" name="cat_rating" id="inlineRadio2" value="2" required>
                  <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <div class="col-1 form-check form-check-inline">
                  <input class="form-check-input" {% if request.GET.cat_rating == "3" %} checked {% endif %} type="radio" name="cat_rating" id="inlineRadio3" value="3" required>
                  <label class="form-check-label" for="inlineRadio3">3</label>
                </div>
                <div class="col-1 form-check form-check-inline">
                  <input class="form-check-input" {% if request.GET.cat_rating == "4" %} checked {% endif %} type="radio" name="cat_rating" id="inlineRadio4" value="4" required>
                  <label class="form-check-label" for="inlineRadio3">4</label>
                </div>
                <div class="col-1 form-check form-check-inline">
                  <input class="form-check-input" {% if request.GET.cat_rating == "5" %} checked {% endif %} type="radio" name="cat_rating" id="inlineRadio3" value="5" required>
                  <label class="form-check-label" for="inlineRadio3">5</label>
                  <span class="container invalid-feedback">
                    Enter a qualitative measure
                  </span>
                </div>
            </div>
          </div>
          <hr class="my-3">

          <div class="form-row col-md-6 mb-3">
            <div class="custom-control custom-switch">
              <input name="new_symptom" type="checkbox" class="custom-control-input" id="new_symptom" onchange="symptom_trigger()">
              <label class="custom-control-label" for="new_symptom">Any new symptoms?</label>
            </div>
          </div>
          <div class="form-row col-md-6 mb-3" id="symptom_info" style="display:none">
            <div id="symptom_note" class="form-text">
              Describe the new symptoms:
            </div>
            <div class="input-group mb-3">
                <textarea name="symptom_details" class="form-control" id="symtpom_details"></textarea>
            </div>

        <small class="form-text text-muted">Discuss these new symptoms with your warrior admin</small>
      </div>
      <hr class="my-3">

      <div class="form-row col-md-6 mb-3">
        <div class="custom-control custom-switch">
          <input name="using_gaba" type="checkbox" {% if request.GET.using_gaba %} checked {% endif %} class="custom-control-input" id="using_gaba" onchange="gaba_trigger()">
          <label class="custom-control-label" for="using_gaba">using gabapentin</label>
        </div>
      </div>
      <div class="form-row col-md-6 mb-3" id="gaba_volume" {% if not request.GET.using_gaba %} style="display:none" {% endif %}>
        <div id="gaba_dose_note" class="form-text">
          How much gabapentin did you feed to your cat?
        </div>
        <div class="input-group mb-3">
            <input type="number" name="gabadose" value="{% if request.GET.gabadose %}{{request.GET.gabadose}}{% else %}0{% endif %}" class="form-control" id="gabavol">
            <div class="form-group-append">
              <span id="gaba_units" class="input-group-text">mg</span>
            </div>
        </div>

    <small class="form-text text-muted">Used amounts often fall between 40 mg to 200 mg</small>
  </div>
      <hr class="my-3">
      <div class="form-row col-md-6 mb-3">
        <label for="injectionnotes">Injection Notes</label>
        <textarea class="form-control" name="injectionnotes" id="injectionnotes" rows="2">{{request.GET.injectionnotes}}</textarea>
        <small class="form-text text-muted">What side? How'd it go?</small>

      </div>
      <hr class="my-3">
      <div class="form-row col-md-6 mb-3">
        <label for="othernotes">Other Notes</label>
        <textarea class="form-control" name="othernotes" id="othernotes" rows="2">{{request.GET.othernotes}}</textarea>
        <small class="form-text text-muted">Anything else worth logging?</small>

      </div>

      <div class="form-row col-md-6 mb-3">
        <input class="btn btn-danger" type="submit" onclick="get_dosage()" value="Add to Log">
      </div>
      <div class="alert alert-danger" style="display:none" id="validation_message">
      </div>

    </div>

    </div>
    </div>
    </fieldset>
    </form>
  </div>


  </div>
</main>

<script>
var today = new Date().toISOString();
document.getElementById("injectiondate").setAttribute('min', today);
</script>


{% endif %}


{% endblock %}
