{% extends 'InjectionLog/nologin.html' %}

{% block maincontent %}
	 <main role="main">

		 <!-- Main jumbotron for a primary marketing message or call to action -->
		 <div class="jumbotron">
			 <div class="container">
				 <h1 class="display-3">Hello FIP Warrior<img src="/static/favicon/android-chrome-96x96.png" width=64 height=64/></h1>
				 <p>This site exists to help you keep track of injections and dose calculations over your 84-day FIP treatment period.</p>
				 <p><a class="btn btn-primary btn-lg" href="/accounts/login/" role="button">Login &raquo;</a></p>
			 </div>
		 </div>

		 <div class="container">
			 <!-- Example row of columns -->
			 <div class="row">
				 <div class="col-md-4">
					 <h2>FIP is now a curable disease!</h2>
					 <p>FIP is no longer a terminal diagnosis for cats.  It's true!
						 If you have a cat with FIP, please immediately post on the
						 <a href="https://www.facebook.com/groups/158363205096283">FIP Warrior</a> facebook group, and an admin will
					 be in touch shortly to help you treat your precious floof.</p>
					 <p><a class="btn btn-secondary" href="https://www.facebook.com/groups/158363205096283" target="_new" role="button">FIP Warriors &raquo;</a></p>
				 </div>
				 <div class="col-md-4">
					 <h2>How much does it cost?</h2>
					 <p> Although FIP is now curable, the treatment is not inexpensive.
						 Costs will depend on your cat's weight and other symptoms. Typically,
					  	costs vary from around $2,500 to $8,000 for the duration of treatment.</p>
				 </div>
				 <div class="col-md-4">
					 <h2>Scientific Basis?</h2>
					 <p>Researchers at the University of California-Davis have spent decades researching FIP.
						 Up until their <a href="https://pubmed.ncbi.nlm.nih.gov/30755068/">groundbreaking study</a> that
						 came out in 2019, FIP was largely regarded as a terminal disease in cats, with most
						 vets recommending euthanasia.  Since mid-2019, tens-of-thousands of cat
						 owners everywhere have been able to cure their cats of FIP.
					  </p>
					 <p><a class="btn btn-secondary" href="https://www.theatlantic.com/science/archive/2020/05/remdesivir-cats/611341/" target="_new" role="button">More Information &raquo;</a></p>
				 </div>
			 </div>


		 </div> <!-- /container -->

	 </main>




{% endblock %}
