{% extends 'InjectionLog/nologin.html' %}
{% load groupfilter %}
{% block maincontent %}

<main role="main">

  <div class="container">
    <div class="alert alert-warning">
      This site contains links to relevant peer-reviewed studies associated with using GS-441524 to treat cats for FIP. Short summaries are provided that can help you and your vet better understand the FIP treatment process and its efficacy, as well as other considerations and concerns for treating your FIP-positive cat.
    </div>
    <hr>
    <div>
      <h4>Page Content</h4>
      <ol>
        <li><a href="#peer_review">Scientific Literature on GS-441524 and treating cats with FIP</a></li>
        <li><a href="#monitoring">Diagnosing and Monitoring FIP</a></li>
        <li><a href="#getGS">How can I buy GS-441524?</a></li>
        <li><a href="#treatment">What does treatment look like?</a></li>
          <ol type="a">
            <li><a href="#duration">Treatment Duration</a></li>
            <li><a href="#cost">Dosage and Cost</a></li>
            <li><a href="#dryFIP">Non-Effusive (dry) FIP Considerations</a></li>
            <li><a href="#neuro">Neurological and Ocular FIP Considerations</a></li>
          </ol>
        <li><a href="#resources">Some useful resources</a></li>

      </ol>

    </div>
    <hr>
    <br><br>
    <a name="peer_review"></a>
    <div class="card border-dark">
      <div class="card-header">Relevant Peer Reviewed Research</div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/jvim.15780" target="_blank">Dickinson, Peter J., et al. "Antiviral treatment using the adenosine nucleoside analogue GS‐441524 in cats with clinically diagnosed neurological feline infectious peritonitis." Journal of Veterinary Internal Medicine (2020).</a>
            <p><small>Summary: Dickinson et al. Treated 4 cats presenting with neurological FIP with the antiviral GS-441524.  Evidence indicates that GS-441524 shows favorable clinical efficacy in treating cats with neurological FIP.</small>
          </li>

          <li class="list-group-item">
            <strong class="text-danger">*</strong> <a href="https://journals.sagepub.com/doi/full/10.1177/1098612X19825701" target="_blank">Pedersen, Niels C., et al. "Efficacy and safety of the nucleoside analog GS-441524 for treatment of cats with naturally occurring feline infectious peritonitis." Journal of feline medicine and surgery 21.4 (2019): 271-281.</a>
            <p><small>Summary: <strong>This is the main study showing strong clinical efficacy of GS-441524 acting as an effective treatment for cats with FIP</strong>. GS-441524 was effective at treating (likely curing) ~80% of cats enrolled in the study. For cats in treatment past the first week, 24 out of the 27 remaining cats (~90%) were healthy (likely cured) 9-months or longer after treatment.</small>
          </li>

          <li class="list-group-item">
            <a href="https://journals.sagepub.com/doi/full/10.1177/1098612x17729626" target="_blank">Pedersen, Niels C., et al. "Efficacy of a 3C-like protease inhibitor in treating various forms of acquired feline infectious peritonitis." Journal of feline medicine and surgery 20.4 (2018): 378-392.</a>
            <p><small>Summary: Study which details the use of the GC376 antiviral on treating FIP.  This study was essential for establishing the 12-week treatment period.  It also clearly details relapse symptoms and occurance, and documents the efficacy of increasing treatment concentrations to further suppress viral activity and symptoms. 7 out of 20 cats (~35%) showed favorable outcomes or were in remission at the time of publication.</small>
          </li>
          <li class="list-group-item">
            <a href="https://www.sciencedirect.com/science/article/pii/S0378113518301603" target="_blank">Murphy, Brian G., et al. "The nucleoside analog GS-441524 strongly inhibits feline infectious peritonitis (FIP) virus in tissue culture and experimental cat infection studies." Veterinary microbiology 219 (2018): 226-233</a>
            <p><small>Summary: Pharmacokinetic study to determine possible effective dosage of antiviral GS-441524.</small>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <a name="monitoring"></a>
    <div class="card border-dark">
        <div class="card-header">Useful Information for Diagnosing and Monitoring FIP</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="http://www.catvirus.com/downloads/FIPdiagnosisflowchart.pdf" target="_blank">FIP Diagnostic Flow Chart</a>
              <p><small>Summary: Dr. Diane Addie conducts FIP research at the University of Glasgow. Her diagnostic algorithm comes from her 2009 paper (linked below), and can be used to help diagnose cats that may have effusive or non-effusive FIP.</small>
              <p><small class="text-muted">
              <a href="https://www.researchgate.net/profile/Tadeusz_Frymus/publication/26251985_Feline_infectious_peritonitis_ABCD_guidelines_on_prevention_and_management/links/59da5d99a6fdcc2aad12a31a/Feline-infectious-peritonitis-ABCD-guidelines-on-prevention-and-management.pdf" target="_blank">(Link)</a>
              Addie, Diane, et al. "Feline infectious peritonitis. ABCD guidelines on prevention and management." Journal of Feline Medicine & Surgery 11.7 (2009): 594-604.</small>
            </li>
            <li class="list-group-item">
              <a href="https://docs.google.com/spreadsheets/d/1OeGUtM1gdnG--b_CN286RWDEhzoagN0QOkBGMx52JiE/edit?usp=sharing" target="_blank">Blood Test Template</a>
              <p><small>Summary: A google sheet that can be duplicated and shared to help track FIP-relevant blood-test information.  This is useful for understanding how a cat is responding to treatment, and when GS-441524 treatment may be stopped</small>
            </li>
          </ul>

        </div>
      </div>
    <br>
    <a name="getGS"></a>
    <div class="card border-dark">
        <div class="card-header">Obtaining GS-441524 for Treatment</div>
        <div class="card-body">
          <p>GS-441524 is not presently licensed for distribution, manufacturing, or sale.  It has also not been approved for treatment of FIP by any regulatory body.
          Given these concerns, there are currently no retail outlets that can sell the drug without potentially facing large liabilities.
          Given demand for GS-441524 for treating cats with FIP, however, a market has emerged.  Manufacturers are located in China, and many individuals and groups have been working
          hard to setup supply chains to import GS-441524 into most countries in the world.  There are several Facebook groups that exist which can help you gain access to GS-441524 to help treat
          your cat.  A small subset of groups are listed below, that can help you find GS regardless of your cat's condition/location:
          <ul class="list-group">
            <li class="list-group-item">
              <a href="https://www.facebook.com/groups/804374446995270" target="_blank">FIP Warriors 5.0</a>
            </li>
            <li class="list-group-item">
              <a href="https://www.facebook.com/groups/500835247226864" target="_blank">NorCal FIP Slayers</a>
            </li>
            <li class="list-group-item">
              <a href="https://www.facebook.com/groups/fipfighters" target="_blank">FIP Fighters</a>
            </li>
            <li class="list-group-item">
              <a href="https://www.facebook.com/groups/fipcatvirushk/" target="_blank">FIP Hong Kong group</a>
            </li>
          </ul>
      </div>
    </div>
    <br>
    <a name="treatment"></a>
    <div class="card border-dark">
      <div class="card-header">Summary of the treatment process</div>
      <div class="card-body">
        <p><div class="alert alert-warning"><i>Note:</i> It is important to keep in mind that there is a lack of transparent, clinical data affiliated with treating cats for FIP.
        The studies that have been published use a relatively small sample of cats.  The cats used in these studies were thoroughly vetted before being included
        in the study.  FIP Warriors and other facebook groups have their own process for tracking treatment outcomes and making recommendations.  There has not been good,
        standardized data collection across groups.  This site hopes to improve and standardize data affiliated with treating cats for FIP.  Even without good data, we
        do know that thousands of cats with FIP have been successfully treated with GS-441524, and that most of these cats have remained free of symptoms after being
        treated (now several years free of symptoms for some of earliest cats that were treated).</div>
          <a name="duration"></a>
          <div class="card mb-3">
            <div class="card-header text-dark">Treatment Duration and Information</div>
            <div class="card-body">
              <ol>
                <li class="alert alert-success">The current published treatment recommendation is to treat cats for <strong>84 days (12 weeks)</strong>, daily with GS-441524
                (<small><a href="https://journals.sagepub.com/doi/suppl/10.1177/1098612X19825701" target="_blank">Reference</a></small>)</li>
                <li>Bloodwork and other clinical markers should be regularly monitored as treatment may need to be extended beyond 12 weeks (<small><a href="https://onlinelibrary.wiley.com/doi/full/10.1111/jvim.15780" target="_blank">Reference</a></small>)
                <li>The published research on treating cats using GS-441524 uses a once-daily injection (<small><a href="https://journals.sagepub.com/doi/full/10.1177/1098612X19825701" target="_blank">Reference</a></small>)</li>
                <li>Various doses are used to treat cats depending on the cat's symptom severity and weight (<small><a href="https://onlinelibrary.wiley.com/doi/full/10.1111/jvim.15780" target="_blank">Reference</a></small>).  See discussion in dosage information below.</li>
                <li>Several Chinese companies have created an oral form of GS. The oral form has been used to successfully treat cats.
                <li>There are not presently any peer-reviewed publications that document the efficacy of using oral GS, although admins from Facebook groups
                indicate that many cats have had great treatment outcomes. There is evidence in the peer-reviewed literature that the oral form can stop fecal shedding of Feline Coronavirus (<small><a href="https://www.sciencedirect.com/science/article/pii/S0034528819312056" target="_blank">Reference</a></small>)</li>
                <li>Dr. Pedersen, the researcher from UC Davis that first discovered the efficacy of using GS-441524, has
                  <a href="https://fiplog.com/static/oral_dosage.jpg" target="_blank">cautioned
                  against</a> using oral GS when treatment dosage reaches 10 mg/kg or higher.
              </ol>
              <p>The 84-day treatment recommendation originally comes from the <a href="https://journals.sagepub.com/doi/full/10.1177/1098612x17729626" target="_blank">2018 GC376 paper</a>,
              in which cats were treated with different concentrations and for different durations of time using GC376. One cat, in particular, was found to relapse when treated for durations of time
              less than 12-weeks. The <a href="https://journals.sagepub.com/doi/full/10.1177/1098612X19825701" target="_blank">2019 study</a> monitored PCV, serum total protein, globulin and albumin levels,
              as well as the A:G ratio using regular blood tests for the enrolled cats.  These values were identified as useful markers
              affiliated with active FIP. Based on these markers, it appeared that cats had not completely recovered from FIP after 6–10 weeks of treatment,
              which further helped support the 12-week minimum treatment period. The authors of these studies have also noted that the 12 week period is consistent with the
              <q>amount of time required to treat humans with HCV using protease inhibitor.</q>
              <div class="card mb-3">
                <div class="card-header bg-warning">Treatment duration after relapse</div>
                <div class="card-body">
                  Cats that relapsed in the 2019 study relapsed within 3-84 days (average of 23 days) after the initial treatment.
                  A set duration of time has not been officially established in the literature for treating kittens that have relapsed,
                  especially if they are treated at higher dosage than was used in the study.
                  For most relapse occurances, the authors treated the cats for <strong>an additional 12-weeks, or longer, at substantially higher dosage
                  compared to the initial treatment.</strong> Shorter durations were used in some cases due to possible GS-441524-related side-effects(<small><a href="https://journals.sagepub.com/doi/full/10.1177/1098612X19825701" target="_blank">Reference</a></small>)
                </div>
              </div>
            </div>
        </div>
        <a name="cost"></a>
        <div class="card mb-3">
          <div class="card-header text-dark">GS-441524 dosage and costs</div>
          <div class="card-body">
            <div class="alert alert-danger">
              It is recommended that you work with an admin from one of the FIP treatment groups
                to determine what is likely to work best for you and your cat.
              </div>

            <p>The <a href="https://journals.sagepub.com/doi/full/10.1177/1098612X19825701" target="_blank">2019 study</a> had a relapse rate of 30% when treating cats initially with 2 mg/kg of GS-441524.
            Many of the cats that relapsed in the original study were then treated for an additional 12 weeks at a higher dosage of 4 mg/kg.  Most cats treated at 4 mg/kg did not relapse again. Several of the cats that
            relapsed the first time began to show neurological symptoms as the virus had moved past the blood brain barrier.
            From <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/jvim.15780" target="_blank">the 2020 study</a>, it was found
            that neurological symptoms could be successfully treated with a higher dosage of GS than was used in the 2019 study. Dosages of 5 mg/kg to 10 mg/kg
            were investigated, and efficacy was shown in treating one neurological cat with a 10 mg/kg dosage, and lower dosage for other cats in the study.

            <p>The cats used for these studies were extensively screened, and are unlikely to be representative of the average cat presenting with FIP. As such, the dosage used for cats in these papers
              may or may not successfully treat your cat and its symptoms.  Given the small sample size reported, it is difficult to generalize dosing recommendations.

            <p>At this time, many FIP treatment groups recommend a <i>starting dosage of 6 mg/kg without additional information</i>. Some admins recommend starting with higher initial dosage for serious cases to more rapidly stabilize
              your cat.  Cats presenting with neurological or ocular symptoms are more likely to relapse, and may require a dosage higher than 6 mg/kg.

            <p>As cats become healthier from treatment, however, it becomes <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/jvim.15780" target="_blank">more difficult</a> for the drug to
              penetrate the blood brain barrier, which suggests higher doses will be necessary if the virus has made it past the blood brain barrier.  FIP is more likely to have entered the brain
              in dry-FIP cases and in relapse cases (<small><a href="https://onlinelibrary.wiley.com/doi/full/10.1111/jvim.14791" target="_blank">reference</a></small>).
              <div class="card mb-3">
                <div class="card-header text-light bg-info">Costs</div>
                <div class="card-body">
                  <p>GS-441524 treatment is not cheap. Due to its current status as an unregulated drug, costs are unlikely to be covered by insurance.
                  <p>Treating your cat can be very expensive, outcomes can be uncertain, and your own financial situation may impact your decision to
                    pursue treatment.  Costs for the compound typically range from as little as $1 per mg to almost $4 per mg, resulting in cost ranges from $1,500 to over $9,000
                    to treat cats. Vet fees will likely add substantial additional costs as well. As all cats are different sizes, and all cats have different infection
                    severity, different treatments decisions will be required for each cat.
                  <p>This site contains a <a href="/costs">cost estimator</a> to help you estimate the cost of treating your cat.
                    This is an initial estimate, and actual treatment costs will be different.  For this calculator, it is assumed that dry-FIP cases are treated at 10 mg/kg, and wet-FIP cases are treated
                    at 6 mg/kg. The gain in cat weight is estimated based on actual data that have been logged on this website from cats undergoing treatment.
              </div>
            </div>
          </div>
        </div>
        <a name="dryFIP"></a>
        <div class="card mb-3">
          <div class="card-header text-dark">Non-Effusive (dry) FIP Considerations</div>
          <div class="card-body">
            <p>Dry FIP can be difficult to diagnose. It can take a long time for the disease to progress to a level where you and your vet can confirm FIP.
            As such, many cats may have been infected for a substantial durations of time, which means that it is more likely that the virus has
            moved past the blood brain barrier.  The <a href="/data/">data</a> analysis on this website suggests that most Dry FIP cases have neurological involvement.
            <p>If the virus has progressed to this point, neurological or ocular symptoms are likely (<small><a href="https://onlinelibrary.wiley.com/doi/full/10.1111/jvim.14791" target="_blank">reference</a></small>).
            For dry FIP cases, however, it is not always clear if a cat is suffering from neurological symptoms.  Many neurological symptoms can be subtle, and may be exceptionally hard to diagnose.
            Many dry FIP cats have experienced relapses due to undiagnosed neurological symptoms.  Neurological symptoms can be treated using GS-441524, but for these cases, higher dosage (10 mg/kg or higher)
            may be required to achieve long-term remission of the disease (<small><a href="https://onlinelibrary.wiley.com/doi/full/10.1111/jvim.15780" target="_blank">reference</a></small>).
          </div>
        </div>
        <a name="neuro"></a>
        <div class="card mb-3">
          <div class="card-header text-dark">Neurological and Ocular FIP Considerations</div>
          <div class="card-body">
            <p>There is only one <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/jvim.15780" target="_blank">peer-reviewed study</a> that has been published that has shown successful treatment of Neurological FIP using GS-441524.
            Furthermore, this study only looked at treatment outcomes for 4 cats.  As such, there is very limited data that is publicly available for assessing
            treatment outcomes and approaches for dealing with Ocular and Neurological forms of FIP.

            <p>For the small sample of cats treated in the study, there were positive outcomes for cats with as little as 5 mg/kg dosage of GS.  However,
              relapses occured for other cats in the study even at this dosage. A higher dosage at 10 mg/kg was able to treat one cat that relapsed in the study.  Many of admins in the Facebook groups have
              started suggesting treatments for Neurological and Ocular cases at dosage substantially above 10 mg/kg.  If relapses occur for these cats, then further increases will likely
              be necessary to yield successful treatment outcomes.

            <p>Given the high dosages that are likely necessary to treat cats with Neurological and Ocular symptoms, treatment costs can be very high.  Because
              there is limited data on treating cats with Neurological and Ocular forms of FIP, it is not known, at this time, what the long-term success rate
              is likely to be.  With that said, many individuals treating for Neurological and Ocular FIP have reported
              positive outcomes.

            <p>Dr. Pedersen, the researcher from UC Davis that first discovered the efficacy of using GS-441524, has
              <a href="https://fiplog.com/static/oral_dosage.jpg" target="_blank">cautioned
              against</a> using oral forms of GS when treatment dosage reaches 10 mg/kg or higher.

          </div>
        </div>
      </div>
    </div>
    <br>
    <a name="resources"></a>
    <div class="card border-dark">
      <div class="card-header">Additional Resources:</div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <a href="http://sockfip.org" target="_blank">Dr. Pedersen's website about FIP</a>
          </li>
          <li class="list-group-item">
            <a href="http://fipslayer.com" target="_blank">Helpful information on treatment and how to inject</a>
          </li>
          <li class="list-group-item">
            <a href="http://fiptreatment.com" target="_blank">Helpful information for supportive care</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
<br>


{% endblock %}
